{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}


{% for post in post_list %}
   <div class="blog-post">
	   <h2 class="blog-post-title">{{ post.title }}   <a class="btn btn-default" href="{% url "post_edit" id=post.id %}"><span class="glyphicon glyphicon-pencil"></span></a></h2>
           <p class="blog-post-meta">
           <a class="post-author" href="#">{{ post.date_time|date:"Y-m-d" }} </a><a class="post-category post-category-js" href="{% url "archives" arch=post.category %}">{{ post.category }}</a>
           </p> 
           <p>
              {{ post.content|custom_markdown }}
           </p>
   </div><!-- /.blog-post -->
{% endfor %}
   <nav>
       <ul class="pager">
           {% if post_list.has_previous  %}
           <li><a href="?page={{ post_list.previous_page_number }}">上一页</a></li>
           {% endif %}
           {% if post_list.has_next %}
           <li><a href="?page={{ post_list.next_page_number}}">下一页</a></li>
           {% endif %}
       </ul>
  </nav>
{% endblock %}



{% block archives %}
<div class="post">
      {% for post in posts %}
               <h5 class="post-title"><a href="{% url "detail" id=post.id %}">{{ post.title }}</a></h5>
                  {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}
