{% extends "base.html" %}
{% load custom_markdown %}


{% block content %}
<div class="post">
        <section class="post">
            <header class="post-header">
		    <h2 class="post-title">{{ post.title }}   <a class="btn btn-default" href="{% url "post_edit" id=post.id %}"><span class="glyphicon glyphicon-pencil"></span></a></h2>

                    <p class="post-meta">
                    <a class="post-author" href="#">{{ post.date_time|date:"Y-m-d"}}</a> <a class="post-category post-category-js" href="{% url "archives" arch=post.category %}">{{ post.category }}</a>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.content|custom_markdown }}
                    </p>
                </div>
        </section>
</div><!-- /.blog-post -->
{% endblock %}

{% block archives %}
<div class="post">
        {% for post in post_list %}
                       <h5 class="post-title"><a href="{% url "detail" id=post.id %}">{{ post.title }}</a></h5>
                                        {% endfor %}
</div><!-- /.blog-post -->
{% endblock %} 
